<h1><center> PPOL 5203 Data Science I: Foundations <br><br> 
<font color='grey'>Problem Sets II<br><br>
Tiago Ventura</center></center> <h1>

# Introduction to Pset 02

This problem set will focus on: 


- Writing functions    
- List comprehension
- Generators
- Numpy
- Intro to pandas

# 1. Writing functions (10 pts)


Using the following data, write a function called  mutate() that takes the nested list data and a new list input and returns a new nested list with combining the input list to the nested list. Notice, your single function must support concatenating the nested list with the input list by row or by columne.  

Important points:

- You should use an argument called axis to indicate the row-wise or column-wise option.

- Make sure the function can deal with inputs of different size. 

- Make sure you include a docstring with your function

In [21]:
# input data
data = [
  ["Var1","Var2","Var3"],
  [1,"Apples",True],
  [4,"Horses",None],
  [-1,"Small Birds",False],
]

In [18]:
## Add your response here

# 2. Practice with numpy arrays (20pts)

## 2.1 Converting a list to an array

We provide you with a list names roles_list_of_lists

- A. Transform the roles_list_of_lists into a 2D numpy array; call it roles_array
- B. Print the shape/dimensions of `roles_array`

In [23]:
## your code here
roles_list_of_lists = [["Tiago", "Ventura", "Professor"], 
                      ["Jiaqin", "Wu", "Teaching Assistant"]]

# response

## 2.2 Subsetting arrays using True/False (boolean) indicators (2 points)

- A. Create a boolean indicator for rows where the role (third column) == 'Teaching Assistant' and print that indicator
- B. Use that boolean indicator to subset roles_array store the array as roles_TA 
- C. Print the `roles_TA` array and its dimensions (should be 2x2)

In [24]:
## your code here

In [34]:
## your code here

In [25]:
## your code here

## 2.3 Adding to an array (2 points)

- A. Use np.append (google the documentation) to  add the following column with the netids of the two TA to the roles_TA array as the last column 
- B. Store as role_TA_net
- C. Print the dimensions (should be 2x3)

In [37]:
## column to add 
netids = np.array([['yl1374']])
print(netids)

[['yl1374']]

In [26]:
## your code here

In [40]:
## your code here

(4,)

### 2.4 Numpy Mathemathics. 

The 2-d array below gives you data with the number of goals scored by a country in six editions of the Fifa Soccer World Cup.

Here is the data as a nested list

In [8]:
# rows and columns
rows = ["Argentina", "Brazil", "Germany", "Spain", "France", "Japan", "Uruguay"]
cols = ["1990", "1994", "1998", "2002", "2006", "2010", "2014"]

# matrix of goals
goals= [[8,10, 2, 11, 10, 10], 
         [11, 14, 18, 10, 9, 15], 
         [9, 8, 14 , 14, 16, 29],
         [10, 8, 10, 9, 8, 4],  
         [0, 15, 0, 9, 1, 12],
         [0, 1, 5, 2, 4, 2],
         [0, 0, 4, 0, 11, 4]]

Using only numpy functions (don't try to convert to a panda dataframe), give me the following: 

- A) How many goals each country scored summing across all the world cup editions?
- B) How many goals were scored in each edition summing across all the countries?
- C) Which country scored more goals?
- d) Which world cup edition had more goals?

In [62]:
# your code here

'2010'

# 3. Practice with iteration/list comprehension (20pts)

Here, we provide you with a list containing the course codes for different McCourt/Georgetown

In [65]:
## course code list 
course_codes = ["PPOL 506", "PPOL 560", "PPOL 564", "SOCI 393"]

## 3.1 Using list comprehension to keep all elements / transform them (3 points)

- A. Create a new list---course_codes_ns-- that removes the spaces in each course code--- eg PPOL 506 should become PPOL506
- B. Print `course_codes_ns`

In [66]:
## your code here

['PPOL506', 'PPOL560', 'PPOL564', 'SOCI393']

## 3.2 Using list comprehension to subset a list (3 points)

- A. using course_codes_ns, create a new list just with courses with ppol in the name; store it as `course_codes_ppol`

In [67]:
## your code here

['PPOL506', 'PPOL560', 'PPOL564']

## 3.3 Dictionary Comprehension 

- A. Create a second list with the grades you which to have in each of these courses
- B. Use a dictionary Comprehension to create a dictionary with keys for the course number, and values for your grade
- C. Convert the dictionary to a pandas dataframe

In [68]:
## your code here

{'PPOL 506': 'A+', 'PPOL 560': 'A+', 'PPOL 564': 'A', 'SOCI 393': 'C'}

## 4 - Generators (30pts)

In class, I argued that generators are extremely memory-efficient tool to build repeated tasks in Python. This happens because a generator is a special kind of function that leverages lazy evaluation, and do not store their contents in memory as you would expect a typical iterable to do. Instead, it only computes the element on demand. 

Being suspicious of non-evidence based claim as a data scientist needs to be, you decided to write code to verify this assumption. 

So prove to me with your code that iterating over `range(N)` is indeed more efficient in memory aspects than iterating of a `list(N)` object of the same size. 

<div class="alert alert-block alert-info"> 
    
**Tip:** you can use the function `sys.getsizeof()` from the module `sys` to calcule the size of a object in Python

</div>

# 5 - Creating Pandas Dataframes (20 points)

Now, similar to the problem above, assume you have a spreadsheet with the following information: 

 Students | Grades_PPOL101 | Grades_PPOL202 |
|----------|----------------|----------------|
| Alice    | 85            | 82            |
| Bob      | 90            | 87            |
| Charlie  | 78            | 80            |
| David    | 92            | 94            |
| Eve      | 88            | 89            |

Show me how to create this spreadsheet using: 

- A row-wise approach 
- A column-wise Approach