## solutions in class exercise

In [3]:
import pandas as pd
import numpy as np

## Practice

Using the World Cup Matches Datasets from the Data Wrangling Notebook:
    
1. Select the following columns: MatchID, Year, Stage, Home Team Name, Away Team Name, Home Team Goals, Away Team Goals.
    
2. Clean the column names.    
    
3. Convert this data to the long format, having both a single collumn for the team playing and the goals scored  

4. Which team have played more games in the history of the world cup?

5. Which team have a higher average of goals in the history of the world cup?

In [1]:
# load worldcup dataset
wc = pd.read_csv("WorldCups.csv")
wc_matches = pd.read_csv("WorldCupMatches.csv")

wc_matches

# 1 and 2
wc_copy = (wc_matches.filter(["MatchID", "Year", "Stage", "Home Team Name", "Away Team Name", "Home Team Goals", "Away Team Goals"]).
     rename(columns={col: col.lower().replace(" ", "_") for col in wc_matches.columns}).copy()
)

NameError: name 'pd' is not defined

In [ ]:
# 3
wc_home = (wc_copy.
    filter(["matchid", "year", "stage", "home_team_name", "away_team_name"]).
    melt(id_vars=["matchid", "year", "stage"], 
            var_name="team_host", 
            value_name="team_name").
    assign(team_host= lambda x: x["team_host"].str.replace("_team_name", ""))
)

In [ ]:
# 3
wc_goals = (wc_copy.
    filter(["matchid", "year", "stage", "home_team_goals", "away_team_goals"]).
    melt(id_vars=["matchid","year", "stage"], 
             var_name="team_host", 
            value_name="team_goals").
    filter(["matchid","team_host", "team_goals"])
    
)

In [ ]:
# 3
wc_tidy = pd.concat([wc_home, wc_goals],axis=1)

wc_tidy

In [ ]:
# 4
(wc_tidy
     .groupby(["team_name"], as_index=False)
     ["team_name"]
     .size()
     .sort_values("size", ascending=False)
)

In [4]:
# 5
(wc_tidy
     .groupby(["team_name"], as_index=False)
     ["team_goals"]
     .agg(["mean", "count"])
     .sort_values("mean", ascending=False). 
    head(10)
)

                  mean  count
team_name
Hungary       2.718750     32
Germany       2.166667     48
Germany FR    2.112903     62
Brazil        2.083333    108
Turkey        2.000000     10
France        1.770492     61
Soviet Union  1.709677     31
Denmark       1.687500     16
Netherlands   1.685185     54
Cuba          1.666667      3